version: "3.9"

services:
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - elt-network

  minio-setup:
    image: minio/mc:latest
    depends_on:
      - minio
    networks:
      - elt-network
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      /usr/bin/mc alias set myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/bronze --ignore-existing;
      /usr/bin/mc mb myminio/silver --ignore-existing;
      /usr/bin/mc mb myminio/gold --ignore-existing;
      /usr/bin/mc mb myminio/sources --ignore-existing;
      exit 0;
      "

  mongo:
    image: mongo:7
    container_name: mongo_local
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - elt-network

  api:
    build: ./api
    container_name: api_flask
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    networks:
      - elt-network

  dashboard:
    build: ./dashboard
    container_name: dashboard_streamlit
    ports:
      - "8501:8501"
    depends_on:
      - api
    networks:
      - elt-network

volumes:
  minio_data:
  mongo_data:

networks:
  elt-network:
    driver: bridge
